<!-- 不蒜子访问统计 -->
{% if site.components.busuanzi.enabled == true %}
<script async src="{{ assets_base_url }}/assets/vendor/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="mobile-hidden" style="margin-top:8px">
  <span id="busuanzi_container_site_pv" style="display:none">
    本站总访问量 <span id="busuanzi_value_site_pv"></span> 次
  </span>
  <span id="busuanzi_container_site_uv" style="display:none">
    / 访客数 <span id="busuanzi_value_site_uv"></span> 人
  </span>
  <span id="busuanzi_container_page_pv" style="display:none">
    / 本页访问量 <span id="busuanzi_value_page_pv"></span> 次
    {% if site.components.busuanzi.start_date %}
    / 统计始于 {{ site.components.busuanzi.start_date }}
    {% endif %}
  </span>
  <!-- 站长统计 -->
  <span>
    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278104206'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278104206%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </span>
</div>
{% endif %}

<span id="runtime">666</span>
<script type="text/javascript">
    function runTime(){
        
        var seconds = 1000;
        var minutes = 1000 * 60;
        var hours = 1000 * 60 * 60;
        var days = 1000 * 60 * 60 * 24;
        var years = 1000 * 60 * 60 * 24 * 365;
        var today = new Date();
        console.log(today)
        
        /*
        var todayYear = today.getFullYear();
        var todayMonth = today.getMonth()+1;
        var todayDate = today.getDate();
        var todayHour = today.getHours();
        var todayMinute = today.getMinutes();
        var todaySecond = today.getSeconds();
        */
        /* 
        Date.UTC() -- 返回date对象距世界标准时间(UTC)1970年1月1日午夜之间的毫秒数(时间戳)
        year - 作为date对象的年份，为4位年份值
        month - 0-11之间的整数，做为date对象的月份
        day - 1-31之间的整数，做为date对象的天数
        hours - 0(午夜24点)-23之间的整数，做为date对象的小时数
        minutes - 0-59之间的整数，做为date对象的分钟数
        seconds - 0-59之间的整数，做为date对象的秒数
        microseconds - 0-999之间的整数，做为date对象的毫秒数
        */
      /*
        var t1 = Date.UTC(2016,12,01,00,00,00); //北京时间2016-12-1 00:00:00
        var t2 = Date.UTC(todayYear,todayMonth,todayDate,todayHour,todayMinute,todaySecond);
        var diff = t2-t1;
        var diffYears = Math.floor(diff/years);
        var diffDays = Math.floor((diff/days)-diffYears*365);
        var diffHours = Math.floor((diff-(diffYears*365+diffDays)*days)/hours);
        var diffMinutes = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours)/minutes);
        var diffSeconds = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours-diffMinutes*minutes)/seconds);
        //var finallyShowTime = "已运行"+diffYears+" 年 "+diffDays+" 天 "+diffHours+" 小时 "+diffMinutes+" 分钟 "+diffSeconds+" 秒";
        */
        var finallyShowTime="12321321321321";
        document.getElementById("runtime").innerHTML=finallyShowTime;
        console.log(finallyShowTime);
    }
  setInterval('runTime();', 1000);
  console.log('end');
</script>
