<!-- 不蒜子访问统计 -->
{% if site.components.busuanzi.enabled == true %}
<script async src="{{ assets_base_url }}/assets/vendor/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="mobile-hidden" style="margin-top:8px">
  <span id="busuanzi_container_site_pv" style="display:none">
    本站总访问量 <span id="busuanzi_value_site_pv"></span> 次
  </span>
  <span id="busuanzi_container_site_uv" style="display:none">
    / 访客数 <span id="busuanzi_value_site_uv"></span> 人
  </span>
  <span id="busuanzi_container_page_pv" style="display:none">
    / 本页访问量 <span id="busuanzi_value_page_pv"></span> 次
    {% if site.components.busuanzi.start_date %}
    / 统计始于 {{ site.components.busuanzi.start_date }}
    {% endif %}
  </span>
  <!-- 站长统计 -->
  <span>
    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278104206'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278104206%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </span>
</div>
{% endif %}

<!-- 网站运行时间 -->
<div>
<span id="runtime">1006</span>
</div>
<script type="text/javascript">
  setInterval(function(){
  	let seconds = 1000;
        let minutes = 1000 * 60;
        let hours = 1000 * 60 * 60;
        let days =  1000 * 60 * 60 * 24;
        let years = 1000 * 60 * 60 * 24 * 365;
        let today = new Date();
        let todayYear = today.getFullYear();
        let todayMonth = today.getMonth() + 1;
        let todayDate = today.getDate();
        let todayHour = today.getHours();
        let todayMinute = today.getMinutes();
        let todaySecond = today.getSeconds();
        //let t1 = Date.UTC(2016,12,01,00,00,00);//北京时间2016-12-1 00:00:00
    	  let t1 = new Date("2016/08/03 00:00:00");
        //let t2 = Date.UTC(todayYear,todayMonth,todayDate,todayHour,todayMinute,todaySecond);
    	  let t2 = new Date(todayYear+"/"+todayMonth+"/"+todayDate+" "+todayHour+":"+todayMinute+":"+todaySecond);
        let diff = t2 - t1;
    console.log(diff);
    /*
        let diffYears = Math.floor(diff/years);
        let diffDays = Math.floor((diff/days)-diffYears*365);
        let diffHours = Math.floor((diff-(diffYears*365+diffDays)*days)/hours);
        let diffMinutes = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours)/minutes);
        let diffSeconds = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours-diffMinutes*minutes)/seconds);
        let finallyShowTime = "已运行"+diffYears+" 年 "+diffDays+" 天 "+diffHours+" 小时 "+diffMinutes+" 分钟 "+diffSeconds+" 秒";
        document.getElementById("runtime").innerHTML=finallyShowTime;
        */
  }, 1000);
</script>
